<div class="middle">
  <h2>Change Password</h2>
  <% flash.each do |key, value| %>
    <div class="alert alert-info">
      <%= flash[:alert] %>
    </div>
  <% end %>
  
  <div class="center">
    <%= form_with model: @user, url: user_password_update_path(@user.id) , method: :put do |form| %>
      <div class="field row form-adj">
        <%= form.label :old_password ,"Old password :" , class: "col-md-4" %><br />
        <%= form.text_field :old_password, class: "col-md-8" %>
        <% if @user.errors[:old_password].any? %>
          <div class="error-message">
            <p class="error col-12"><%= @user.errors[:old_password].first %></p>
          </div>
        <% end %>
      </div>
    
      <div class="field row form-adj">
        <%= form.label :password , "Password :" , class: "col-md-4" %>
        <%= form.password_field :password , class: "col-md-8" %>
        <% if @user.errors[:password].any? %>
          <p class="error col-12"><%= @user.errors.full_messages_for(:password).first %></p>
        <% end %>
      </div>
    
      <div class="field row form-adj">
        <%= form.label :password_confirmation , "Password Confirmation :" , class: "col-md-6" %><br />
        <%= form.password_field :password_confirmation , class: "col-md-6" %>
        <% if @user.errors[:password_confirmation].any? %>
          <p class="error col-12"><%= @user.errors.full_messages_for(:password_confirmation).first %></p>
        <% end %>
      </div>

      <%= link_to "Back", users_user_lists_path , class: "right btn btn-secondary" %>
      <%= form.submit "Submit" , class: "right btn btn-primary" %>
    <% end %>
  </div>
</div>
