<div class="middle">
  <h2>Sign up</h2>
  <div class="center">
    <%= form_with model: @user, method: :get do |form| %>
      <div class="field row form-adj">
        <%= form.label :password , "Old password :" , class: "col-md-4" %><br />
        <%= form.text_field :password, autofocus: true, class: "col-md-8" %>
      </div>
    
      <div class="field row form-adj">
        <%= form.label :password , "Password :" , class: "col-md-4" %>
        <%= form.password_field :password, autocomplete: "new-password" , class: "col-md-8" %>
      </div>
    
      <div class="field row form-adj">
        <%= form.label :password_confirmation , "Password Confirmation :" , class: "col-md-6" %><br />
        <%= form.password_field :password_confirmation, autocomplete: "new-password" , class: "col-md-6" %>
      </div>

      <%= link_to "Back", users_user_lists_path , class: "right btn btn-secondary" %>
      <%= form.submit "Submit" , class: "right btn btn-primary" %>
    <% end %>
  </div>
</div>
