<div class="middle">
<h2>Create Account</h2>
<div class="center">
    <%= form_with model: @user , url:  users_confirm_post_users_path , method: :post do |f| %>
        <% byebug %>
        <div class="field row form-adj">
            <%= f.label :name , "Name :" , class: "col-4" %><br />
            <%= f.text_field :name, autofocus: true, class: "col-8" %>
            <% if @user.errors[:name].any? %>
                <p class="error col-12 "><%= @user.errors.full_messages_for(:name).first %></p>
            <% end %>
        </div>
        
        <div class="field row form-adj">
            <%= f.label :email , "Email :" , class: "col-4" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "col-8" %>
            <% if @user.errors[:email].any? %>
                <p class="error col-12"><%= @user.errors.full_messages_for(:email).first %></p>
            <% end %>
        </div>
        
        <div class="field row form-adj">
            <%= f.label :password , "Password :" , class: "col-4" %>
            <%= f.password_field :password, autocomplete: "new-password" , class: "col-8" %>
            <% if @user.errors[:password].any? %>
                <p class="error col-12"><%= @user.errors.full_messages_for(:password).first %></p>
            <% end %>
        </div>
        
        <div class="field row form-adj">
            <%= f.label :password_confirmation , "Password Confirmation :" , class: "col-6" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "col-6" %>
            <% if @user.errors[:password_confirmation].any? %>
                <p class="error col-12"><%= @user.errors.full_messages_for(:password_confirmation).first %></p>
            <% end %>
        </div>

        <div class="field row form-adj">
            <%= f.label :phone , "Phone :" , class: "col-4" %><br />
            <%= f.text_field :phone, autofocus: true, class: "col-8" %>
            <% if @user.errors[:phone].any? %>
                <p class="error col-12"><%= @user.errors.full_messages_for(:phone).first %></p>
            <% end %>
        </div>

        <div class="field row form-adj">
            <%= f.label :dob , "Date Of Birth :" , class: "col-4" %><br />
            <%= f.date_field :dob, autofocus: true, class: "col-8" %>
            <% if @user.errors[:dob].any? %>
                <p class="error col-12"><%= @user.errors.full_messages_for(:dob).first %></p>
            <% end %>
        </div>

        <div class="field row form-adj">
            <%= f.label :address , "Address :" , class: "col-4" %><br />
            <%= f.text_field :address, autofocus: true, class: "col-8" %>
            <% if @user.errors[:address].any? %>
                <p class="error col-12"><%= @user.errors.full_messages_for(:address).first %></p>
            <% end %>
        </div>

        <div class="field row form-adj">
            <%= f.label :avatar , "profile :" , class: "col-4" %><br />
            <%= f.file_field :avatar, autofocus: true, class: "col-8" %>
            <% if @user.errors[:avatar].any? %>
                <p class="error col-12"><%= @user.errors.full_messages_for(:avatar).first %></p>
            <% end %>
        </div>

        <%= f.hidden_field :role, value: 1 %> 
        <%= f.hidden_field :create_user_id, value: @member.id %> 
        <%= f.hidden_field :updated_user_id, value: @member.id %> 
        
        <%= link_to "Back", users_user_lists_users_path, class: "right btn btn-secondary"%>
        <%= f.submit "Confirm" , class: "right btn btn-primary" %>
    <% end %>
</div>
</div>
