<div class="middle">
  <h2>Profile</h2>
  <div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="img-block">
              <img src="<%= @user.avatar %>" class="img-size">
            </div>
        </div>
        <div class="col-3">
            <p>No :</p>
            <p>Name :</p>
            <p>Email :</p>
            <p>Created User :</p>
            <p>Type :</p> 
            <p>Phone :</p>
            <p>Date Of Birth :</p>
            <p>Address :</p>
        </div>
        <div class="col-5">
            <p><%= @user.id %></p>
            <p><%= @user.name%></p>
            <p><%= @user.email%></p>
            <p>Zaw Zaw</p>
            <%if @user.role == 0%>
              <p>Admin</p>
            <%elsif @user.role == 1%>
              <p>User</p>
            <%else%>
              <p>Something Wrong</p>
            <%end %>
            <p><%= @user.phone%></p>
            <p><%= @user.dob%></p>
            <p><%= @user.address%></p>
            <%= link_to "Edit Profile", edit_user_path(@user.id), class: "btn btn-secondary" %>
            <%= link_to "Back", users_path , class: "btn btn-secondary" %>
        </div>
    </div>
  </div>
</div>
