<% if flash[:success] %>
  <div class="alert alert-success d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-check-circle-fill flex-shrink-0 me-2 icon-img" viewBox="0 0 16 16" role="img" aria-label="Warning:">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
    <div class="flex-grow-1">
      <%= flash[:success] %>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="middle2 clearfix">
    <h2>User Lists</h2>   
    <%= search_form_for @q ,url: users_user_lists_path, html: { method: :get ,  class: "right" } do |f| %>
        <%= f.label :name_cont , "Name :" %>
        <%= f.search_field :name_cont %>
        <%= f.label :email_cont , "Email :" %>
        <%= f.search_field :email_cont %>
        <%= f.label :dob_gteq , "From :" %>
        <%= f.date_field :dob_gteq %>
        <%= f.label :dob_lteq , "To :" %>
        <%= f.date_field :dob_lteq %>
        <%= f.submit "Search" , class: "post-action-btn btn" %>
    <% end %>
    <table class="table post-table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Created User</th>
                <th scope="col">Type</th> 
                <th scope="col">Phone</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Address</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody>
            <% @users_list.each do |user_list| %>
                <tr>
                    <td><%= user_list.id %></td>
                    <td><%= user_list.name %></td>
                    <td><%= user_list.email %></td>
                    <td><%= user_list.password_digest%></td>
                    <td>
                        <% if user_list.role == 0 %>
                            Admin
                        <% elsif user_list.role == 1 %>
                            User
                        <% else %>
                            Undefined
                        <% end %>
                    </td>
                    <td>0<%= user_list.phone %></td>
                    <td><%= user_list.dob %></td>
                    <td><%= user_list.address %></td>
                    <td>
                        <%= link_to "Edit" , user_path(user_list.id) , class: "btn btn-secondary"%>
                        <%= button_tag "Detail", type: "button", id: "d2u-s" ,  class: "btn btn-success"%>
                        <%= button_tag "Delete", type: "button", id: "du-s" ,  class: "btn btn-danger"%>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= will_paginate @users_list %>
</div>

<div id="delete-user" class="action-post du-n">
    <h4>Delete Confirm</h4><hr>
    <h6>Are you sure to delete User?</h6>
    <div class="row">
        <div class="left col-5">
            <p>No :</p>
            <p>Name :</p>
            <p>Email :</p>
            <p>Created User :</p>
            <p>Type :</p> 
            <p>Phone :</p>
            <p>Date Of Birth :</p>
            <p>Address :</p>
        </div>
        <div class="left col-7">
            <p>1</p>
            <p>Mg Mg</p>
            <p>mgmg@gmail.com</p>
            <p>Zaw Zaw</p>
            <p>Admin</p>
            <p>09-123456</p>
            <p>3-6-1999</p>
            <p>Kan Daw Lay</p>
        </div>
    </div><hr>
    <%= form_with model: @user, method: :get do |form| %>
        <%= button_tag "Close", type: "button", id: "du-n" , class: "right btn btn-secondary"%>
        <%= form.submit "Submit" , class: "right btn btn-danger" %>
    <% end %>
</div>

<div id="detail-user" class="action-post d2u-n">
    <h4>Post User</h4><hr>
    <div class="row">
        <div class="left col-5">
            <p>No :</p>
            <p>Name :</p>
            <p>Email :</p>
            <p>Created User :</p>
            <p>Type :</p> 
            <p>Phone :</p>
            <p>Date Of Birth :</p>
            <p>Address :</p>
        </div>
        <div class="left col-7">
            <p>1</p>
            <p>Mg Mg</p>
            <p>mgmg@gmail.com</p>
            <p>Zaw Zaw</p>
            <p>Admin</p>
            <p>09-123456</p>
            <p>3-6-1999</p>
            <p>Kan Daw Lay</p>
        </div>
    </div><hr>
    <%= button_tag "Close", type: "button", id: "d2u-n" , class: "right btn btn-secondary"%>
</div>

