<div class="middle">
  <h2>Upload Csv File</h2>
  <div class="center">
    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= form_with model: @post, url: posts_csv_upload_path , method: :post do |form| %>
        <div class="field row form-adj">
            <%= form.label :file , "Upload Csv File :" , class: "col-md-4" %><br />
            <%= form.file_field :file, autofocus: true, class: "col-md-8" %>
        </div>

        <%= link_to "Back", posts_path , class: "right btn btn-secondary" %>
        <%= form.submit "Submit" , class: "right btn btn-primary" %>
    <% end %>
  </div>
</div>
