<div class="middle2 clearfix">
    <h2>Post Lists</h2>   
    <%= link_to "Download" , posts_path(format: :csv) , class: "right post-action-btn btn"%>  
    <%= link_to "Upload" , posts_csv_path , class: "right post-action-btn btn"%>
    <%= link_to "Create" , new_post_path , class: "right post-action-btn btn"%>
    <%= search_form_for @q , html: { class: "right" } do |f| %>
        <%= f.search_field :title_or_description_cont %>
        <%= f.submit "Search" , class: "post-action-btn btn" %>
    <% end %>
    <table class="table post-table">
        <thead>
            <tr>
                <th scope="col">Post Title</th>
                <th scope="col">Post Description</th>
                <th scope="col">Posted User</th>
                <th scope="col">Posted Date</th>
                <th scope="col">Operation</th> 
            </tr>
        </thead>
        <tbody>
        
            <% @posts.each do |post| %>
                <tr>
                    <td><%= post.title %></td>
                    <td><%= post.description %></td>
                    <td><%= post.create_user.name %></td>
                    <td><%= post.created_at.strftime("%Y-%m-%d") %></td>
                    <td>
                        <%=link_to "Edit" , edit_post_path(post.id) , class: "btn btn-secondary" %>
                        <% detail_button_attributes = {
                            type: "button",
                            id: "d2p-s",
                            class: "btn btn-success",
                            onclick: "showDetail('#{post.title}', '#{post.description}', '#{post.create_user.name}', '#{post.created_at.strftime("%Y-%m-%d")}')"
                        } %>
                        <%= button_tag "Detail", detail_button_attributes %>
                        <%= button_tag "Delete", type: "button", id: "dp-s" , class: "btn btn-danger"%>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= will_paginate @posts %>
</div>

<div id="delete-post" class="action-post dp-n">
    <h4>Delete Confirm</h4><hr>
    <h6>Are you sure to delete post?</h6>
    <div class="row">
        <div class="left col-5">
            <p>Id : </p>
            <p>Title : </p>
            <p>Description : </p>
            <p>Status : </p>
        </div>
        <div class="left col-7">
            <p>2</p>
            <p>Post 2</p>
            <p>Post Description</p>
            <p>Active</p>
        </div>
    </div><hr>
    <%= form_with model: @post, method: :get do |form| %>
        <%= button_tag "Close", type: "button", id: "dp-n" , class: "right btn btn-secondary"%>
        <%= form.submit "Submit" , class: "right btn btn-danger" %>
    <% end %>
</div>

<div id="detail-post" class="action-post d2p-n">
    <h4>Post Detail</h4>
    <div class="row">
        <div class="left col-5">
            <p>Id : </p>
            <p>Title : </p>
            <p>Description : </p>
            <p>Status : </p>
        </div>
        <div class="left col-7">
            <p id="detail-id"></p>
            <p id="detail-title"></p>
            <p id="detail-description"></p>
            <p id="detail-status"></p>
        </div>
    </div><hr>
    <%= button_tag "Close", type: "button", id: "d2p-n" , class: "right btn btn-secondary"%>
</div>

